@{
    ViewData["Title"] = "Món Mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="products">
    <div class="panel panel-prod">
        <div class="panel-heading panel-heading-prod">TRÀ VẢI TƯƠI DẦM – TƯƠI NGON, MÁT LẠNH</div>
        <div class="detail_content post-description">
            <p style="margin-left:0cm; margin-right:0cm; text-align:justify">
                <span style="font-size:16px">
                    <span style="font-family:Arial,Helvetica,sans-serif">
                        <span style="color:#050505">Chính thức ra mắt thức uống mới Trà Vải Tươi Dầm từ 19.06.2021, Phúc Long gửi đến khách hàng chương trình ưu đãi hấp dẫn giới hạn.</span>
                    </span>
                </span>
            </p>

            <p style="margin-left:0cm; margin-right:0cm; text-align:center">
                <span style="font-size:16px">
                    <span style="font-family:Arial,Helvetica,sans-serif">
                        <span style="color:#006600">
                            <strong>NỘI DUNG CHI TIẾT</strong>
                        </span>
                    </span>
                </span>
            </p>

            <p style="text-align:center">
                <img alt="" src="~/images/sliders/monmoi.jpg" style="height:1200px; width:1200px">
            </p>
            <p style="margin-left:0cm; margin-right:0cm; text-align:justify">
                <span style="font-size:16px">
                    <span style="font-family:Arial,Helvetica,sans-serif">
                        <span style="color:#050505">Chỉ trong 2 ngày ra mắt, Phúc Long dành tặng cho khách hàng chương trình ưu đãi hấp dẫn sau:</span>
                    </span>
                </span>
            </p>

            <p style="margin-left:0cm; margin-right:0cm; text-align:justify">
                <span style="font-size:16px">
                    <span style="font-family:Arial,Helvetica,sans-serif">
                        <span style="color:#050505">- Miễn phí 1.000 ly Trà Vải Tươi Dầm mỗi ngày cho hóa đơn từ 95.000đ. </span>
                    </span>
                </span>
            </p>

            <p style="margin-left:0cm; margin-right:0cm; text-align:justify">
                <span style="font-size:16px">
                    <span style="font-family:Arial,Helvetica,sans-serif">
                        <span style="color:#050505">Chương trình áp dụng mua trực tiếp tại HTCH Phúc Long và Kiosk trên toàn quốc (trừ Phúc Long Tân Sơn Nhất).</span>
                    </span>
                </span>
            </p>

            <p style="margin-left:0cm; margin-right:0cm; text-align:justify">
                <span style="font-size:16px">
                    <span style="font-family:Arial,Helvetica,sans-serif">
                        <span style="color:#050505">- Khách hàng đặt hàng qua kênh Hotline Free Delivery </span>
                        <strong>
                            <span style="color:#e74c3c">1800 6779</span>
                        </strong><span style="color:#050505"> sẽ được mua Trà Vải Tươi Dầm với giá ưu đãi chỉ còn 40.000đ (giá gốc 55.000đ).</span>
                    </span>
                </span>
            </p>

            <p style="margin-left:0cm; margin-right:0cm; text-align:justify">
                <span style="font-family:Arial,Helvetica,sans-serif">
                    <span style="font-size:16px">- </span>
                </span>
                <span style="color:null">
                    <span style="font-size:16px">
                        <span style="font-family:Arial,Helvetica,sans-serif">Số lượng ưu đãi mỗi ngày có hạn. Chi tiết chương trình vui lòng xem trên app.</span>
                    </span>
                </span>
            </p>

            <p style="margin-left:0cm; margin-right:0cm; text-align:justify">
                <span style="font-size:16px">
                    <span style="font-family:Arial,Helvetica,sans-serif">
                        <strong>
                            <span style="color:#050505">Lưu ý:</span>
                        </strong>
                    </span>
                </span>
            </p>

            <p style="margin-left:0cm; margin-right:0cm; text-align:justify">
                <span style="font-family:Arial,Helvetica,sans-serif">
                    <span style="font-size:16px">- Danh  sách địa  chỉ  <a href="https://phuclong.com.vn/he-thong-cua-hang-phuc-long">HTCH  Phúc  Long Coffee  &amp; Tea</a>  và  <a href="https://phuclong.com.vn/he-thong-cua-hang-phuc-long-kiosk">Phúc  Long Kiosk</a>.</span>
                </span>
            </p>

            <p style="margin-left:0cm; margin-right:0cm; text-align:justify">
                <span style="font-size:16px">
                    <span style="font-family:Arial,Helvetica,sans-serif">
                        <span style="color:#050505">- Số lượng ly ưu đãi có giới hạn chia đều cho mỗi cửa hàng, tùy độ sẵn có của vải tại từng cửa hàng, chương trình có thể kết thúc sớm trong ngày.</span>
                    </span>
                </span>
            </p>

            <p style="margin-left:0cm; margin-right:0cm; text-align:justify">
                <span style="font-size:16px">
                    <span style="font-family:Arial,Helvetica,sans-serif">
                        <span style="color:#050505">- Đặt hàng qua hotline 1800 6779 áp dụng từ 3 ly hoặc hoá đơn sản phẩm từ 300.000đ bán kính 3km từ cửa hàng Phúc Long gần nhất.</span>
                    </span>
                </span>
            </p>

            <p style="margin-left:0cm; margin-right:0cm">
                <span style="font-size:16px">
                    <span style="font-family:Arial,Helvetica,sans-serif">
                        <span style="color:#006600">
                            <strong>LƯU Ý CHUNG</strong>
                        </span>
                    </span>
                </span>
            </p>

            <ul>
                <li style="text-align:justify">
                    <span style="font-size:16px">
                        <span style="font-family:Arial,Helvetica,sans-serif">Chương trình áp dụng với các hình thức thanh toán: tiền mặt, thẻ ATM, thẻ tín dụng và ví điện tử.</span>
                    </span>
                </li>
                <li style="text-align:justify">
                    <span style="font-size:16px">
                        <span style="font-family:Arial,Helvetica,sans-serif">Không áp dụng chung với các chương trình khuyến mãi khác tương tự.</span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>