@{
    ViewData["Title"] = "Khuyến Mãi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="products">
    <div class="panel panel-prod">
        <div class="panel-heading panel-heading-prod">GRAND OPENING - PHÚC LONG AEON MALL LONG BIÊN</div>
        <div class="detail_content post-description">
            <p>
                <span style="font-size:16px">
                    <span style="font-family:Arial,Helvetica,sans-serif">
                        <strong>Phúc Long Aeon Mall Long Biên:</strong>
                        T334 - 6 Tầng 3, Aeon Mall Long Biên, P. Long Biên, Q. Long Biên, TP. Hà Nội
                    </span>
                </span>
            </p>

            <p>
                <span style="font-size:16px">
                    <span style="font-family:Arial,Helvetica,sans-serif">
                        <strong>Phúc Long Aeon Mall Long Biên</strong>
                        hân hạnh phục vụ những ly trà, cà-phê thơm ngon, đậm vị đến bạn trong một không gian ấm cúng với nhiều góc "sống ảo" cho những bức hình xinh lung linh.
                    </span>
                </span>
            </p>

            <p>
                <span style="font-size:16px">
                    <span style="font-family:Arial,Helvetica,sans-serif">
                        Khách Hàng ghé thăm cửa hàng mới sẽ có cơ hội nhận được những phần quà vô cùng hấp dẫn.
                    </span>
                </span>
            </p>

            <p style="text-align:center">
                <span style="color:#00703c">
                    <span style="font-size:16px">
                        <span style="font-family:Arial,Helvetica,sans-serif">
                            <strong>NỘI DUNG CHI TIẾT</strong>
                        </span>
                    </span>
                </span>
            </p>
            <p style="text-align:center">
                <img alt="" src="~/images/sliders/Grandopening.jpg" style="height:1200px; width:1200px">
            </p>
            <p style="text-align:justify">
                <span style="font-size:16px">
                    <span style="font-family:Arial,Helvetica,sans-serif">Từ ngày 
                        <strong>18.03 - 19.03.2023 ,</strong>khi Khách hàng ghé thăm cửa hàng mới và mua hóa đơn từ 150,000đ sẽ được rút thăm với cơ hội 100% trúng thưởng một trong những phần quà sau:
                    </span>
                </span>
            </p>

            <p style="text-align:justify">
                <span style="font-size:16px">
                    <span style="font-family:Arial,Helvetica,sans-serif">- Bình giữ nhiệt Phúc Long</span>
                </span>
            </p>

            <p style="text-align:justify">
                <span style="font-size:16px">
                    <span style="font-family:Arial,Helvetica,sans-serif">- Túi Tote độc đáo</span>
                </span>
            </p>

            <p style="text-align:justify">
                <span style="font-size:16px">
                    <span style="font-family:Arial,Helvetica,sans-serif">- Ly sứ in họa tiết phiên bản giới hạn</span>
                </span>
            </p>

            <p style="text-align:justify">
                <span style="font-size:16px">
                    <span style="font-family:Arial,Helvetica,sans-serif">- Ly giữ nhiệt điêu khắc 100 ngôi sao Phúc Long</span>
                </span>
            </p>

            <p style="text-align:justify">
                <span style="color:#00703c">
                    <span style="font-size:16px">
                        <span style="font-family:Arial,Helvetica,sans-serif">
                            <strong>LƯU Ý</strong>
                        </span>
                    </span>
                </span>
            </p>

            <p style="text-align:justify">
                <span style="font-size:16px">
                    <span style="font-family:Arial,Helvetica,sans-serif">- Số lượng quà tặng có hạn, chương trình có thể kết thúc sớm khi hết quà. Khách hàng vui lòng gửi tin nhắn đến Fanpage 
                        <a href="#" target="_blank">Phuc Long Coffee &amp; Tea</a> để được hỗ trợ thêm thông tin về chương trình.
                    </span>
                </span>
            </p>

            <p style="text-align:justify">
                <span style="font-size:16px">
                    <span style="font-family:Arial,Helvetica,sans-serif">- Chương trình được áp dụng thẻ thành viên tích điểm, giảm giá (giá trị tham gia chương trình là giá trị cuối cùng trên hóa đơn)</span>
                </span>
            </p>

            <p style="text-align:justify">
                <span style="color:#00703c">
                    <span style="font-size:16px">
                        <span style="font-family:Arial,Helvetica,sans-serif">
                            <strong>LƯU Ý CHUNG</strong>
                        </span>
                    </span>
                </span>
            </p>

            <p style="text-align:justify">
                <span style="font-size:16px">
                    <span style="font-family:Arial,Helvetica,sans-serif">- Chương trình áp dụng với các hình thức thanh toán: tiền mặt, thẻ ATM, thẻ tín dụng và ví điện tử.</span>
                </span>
            </p>

            <p style="text-align:justify">
                <span style="font-size:16px">
                    <span style="font-family:Arial,Helvetica,sans-serif">- Không áp dụng chung với các voucher &amp; các chương trình khuyến mãi khác bao gồm: Voucher Phúc Long, Voucher Giftpop, Voucher Sodexo Qr code, GotIt, Urbox … và các chương trình sử dụng voucher hoặc giảm giá tương tự khác.</span>
                </span>
            </p>
        </div>
    </div>
</div>