@{
    ViewData["Title"] = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="products">
    <div class="panel panel-prod">
        <div class="panel-heading panel-heading-prod">Thông tin cửa hàng</div>
        <div class="contact-info text-center">
            <p style="text-align:center">&nbsp;</p>
            <p style="text-align:center"><iframe align="middle" frameborder="0" height="800" scrolling="yes" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRHhHAYPJsF2FYxHexn4lcHKTCi9BtRgku_F31od9cppdK9GB27VJkaEHwKit5cWQ/pubhtml?widget=true&amp;headers=false" width="1000"></iframe></p>
            <p>&nbsp;</p>
            <p>Tên chính thức:&nbsp;<strong>C</strong><strong>ÔNG TY CỔ PHẦN PHÚC LONG HERITAGE</strong></p>
            <p>Trụ sở chính: Phòng 702, Tầng 7, Tòa nhà Central Plaza, Số 17 Đường Lê Duẩn, Phường Bến Nghé, Quận 1, Tp. HCM</p>
            <p>Mã số thuế/GPKD:&nbsp;0316&nbsp;871719</p>
            <p>Điện thoại:&nbsp;(+84 28) 6263 0377 - 6263 0378</p>
            <p>Email:&nbsp;marketing@phuclong.com.vn</p>
        </div>
    </div>
    <div class="panel panel-prod">
        <div class="panel-heading panel-heading-prod"> Khách hàng nên đọc</div>
        <div class="panel-body" style="text-align:justify">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#chatluong">
                        Chất Lượng và An Toàn
                    </a>
                </li>
                <li><a data-toggle="tab" href="#hoantien">Hoàn Tiền và Đổi Trả</a></li>
                <li><a data-toggle="tab" href="#baomat">Bảo Mật Thông Tin</a></li>
                <li><a data-toggle="tab" href="#giaohang">Giao Hàng Đúng Hẹn</a></li>
            </ul>
            <div class="tab-content">
                <div id="chatluong" class="tab-pane fade in active">
                    <p>
                        Chúng tôi cam kết cung cấp những sản phẩm chất lượng cao và an toàn
                        nhất cho thức uống của bạn. Tất cả các sản phẩm được chọn lựa kỹ lưỡng và kiểm tra chất
                        lượng để đảm bảo tuân thủ các tiêu chuẩn an toàn và hợp lý.
                    </p>
                </div>
                <div id="hoantien" class="tab-pane fade">
                    <p>
                        Trong trường hợp sản phẩm không đáp ứng được mong đợi của bạn hoặc
                        có bất kỳ vấn đề gì liên quan đến chất lượng, chúng tôi cam kết hoàn tiền hoặc đổi trả
                        sản phẩm theo điều kiện cụ thể.
                    </p>
                </div>
                <div id="baomat" class="tab-pane fade">
                    <p>
                        Chúng tôi cam kết bảo vệ thông tin cá nhân của khách hàng và không
                        chia sẻ thông tin này với bất kỳ bên thứ ba nào mà không có sự đồng ý của khách
                        hàng.
                    </p>
                </div>
                <div id="giaohang" class="tab-pane fade">
                    <p>Chúng tôi cam kết giao hàng đúng hẹn và đảm bảo sản phẩm được giao đến tay khách hàng một cách an toàn và nhanh chóng.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-prod">
        <div class="panel-heading panel-heading-prod">Phản hồi với Phúc Long</div>
        <div class="panel-body">
            <div class="panel panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-2" for="txtusername">Họ và tên:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="txtusername" placeholder="Nhập họ và tên">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2" for="txtemail">Email:</label>
                        <div class="col-md-10">
                            <input type="email" class="form-control" id="txtemail" placeholder="Nhập địa chỉ email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2" for="txttitle">Tiêu đề:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="txttitle" placeholder="Nhập tiêu đề">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2" for="txtdetail">Nội dung:</label>
                        <div class="col-md-10">
                            <textarea class="form-control" id="txtdetail" rows="5" placeholder="Nhập nội dung"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" id="btnSend" class="btn btn-danger"><i class="fa fa-external-link"></i> Gửi </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
